@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "VT323", monospace;
}

header, footer {
  font-size: 20px;
  color: black;
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 25px;
}

#canvas-palette-wrapper {
  margin-left: 10%;
  display: flex; 
  justify-content: center; 
  align-items: start; 
}

#canvas {
  border: 3px solid #393e41;
  display: grid;
  grid-template-columns: repeat(10, 50px); 
  height: 400px;
  margin-right: 20px; 
}

.cell {
  border: 1px solid #393e41;
  box-sizing: border-box;
  display: inline-block;
  height: 50px;
  width: 50px;
}

#current-color {
  border: 2px solid #393e41;
  display: block;
  height: 50px;
  margin: 25px auto;
  width: 50px;
}

#palette {
  display: flex;
  flex-direction: column; 
  justify-content: start; 
  flex-wrap: wrap; 
  height: 400px; 
  align-content: start; 
}

.color {
  border: 2px solid #393e41;
  border-radius: 50%;
  margin: 10px;
  height: 50px;
  width: 50px;
}

#wrapper {
  min-height: 100vh; 
}

footer {
  position: relative;
  bottom: 10%;
  
}

nav {
  display: flex;
  justify-content: space-evenly;
  bottom: 50%;
}

a {
  text-decoration: none;
  color: rgb(95, 97, 214);
  font-size: 2em;
  
}

a:hover {
  background-color: blanchedalmond;
  opacity: 0.5;
}
