@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
  background-color: black;
  color: ghostwhite;
}

h1 {
  text-align: center;
  color: plum;
  font-size: 3em;
}

.tic-tac-toe {
  width: 370px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0;
}

.square {
  height: 120px;
  width: 120px;
  border: 1px solid rgb(255, 164, 222);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
}

.square:hover {
  background: plum;
}

.square:active {
  background-color: rebeccapurple;
}

#wrapper {
  min-height: 90%;
  margin-bottom: -100px;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

button {
  padding: 1em;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 1em;
  display: block;
  margin: auto;
  background: plum;
}

a {
  text-decoration: none;
  color: plum;
  font-size: 2em;
}
a:hover {
  background-color: blanchedalmond;
  opacity: 0.5;
}
